@import "../../styles/base/baseButton.scss";

%button {
  @extend %button-base;

  min-width: 10rem;
  padding: 0.5rem 2rem;

  &.loading {
    color: transparent;

    > * {
      opacity: 0;
      transform: scale(0);
    }

    .spinner {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  svg {
    fill: currentcolor;
    height: var(--text-size);
  }

  .content {
    align-items: center;
    display: inline-flex;
    gap: 1rem;
    max-height: var(--text-height);
    white-space: nowrap;
  }

  > .spinner {
    fill: var(--spinner-color);
    height: var(--text-height);
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
  }
}

.Button {
  @extend %button;
}
