%button-story {
  > div {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  .sameWidthList {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}

.Story {
  @extend %button-story;
}
