@mixin theme($value: "dark") {
  @if $value == "light" {
    @at-root [data-theme="light"] & {
      @content;
    }
  } @else if $value == "dark" {
    @at-root [data-theme="dark"] & {
      @content;
    }
  }
}

@mixin dark {
  backdrop-filter: blur(9px);
  background: rgb(19 18 18 / 30%);
  border: 1px solid rgb(255 255 255 / 18%);
  box-shadow: 0 8px 16px 0 rgb(31 38 135 / 37%);
}

@mixin light {
  backdrop-filter: blur(10px);
  background: rgb(255 255 255 / 10%);
  border: 1px solid rgb(255 255 255 / 18%);
  box-shadow: 0 8px 16px 0 rgb(31 38 135 / 37%);
}

@mixin focus-visible {
  outline: 2px solid var(--orange);
  outline-offset: 0.2rem;
  transition: outline-offset 250ms ease-out;

  &:active {
    outline-offset: 0;
  }
}

@mixin disabled {
  filter: grayscale(0.9);
}
