@import "./tokens/color.tokens.scss";
@import "./common.scss";

:root {
  --line-height: 1.8;
  --text-height: calc(var(--text-size) * var(--line-height));
  --text-size: 1.6rem;
}

html {
  font-size: 10px;
}

* {
  scrollbar-color: hsl(0deg 0% 100% / 30%) hsl(0deg 0% 100% / 10%);

  // the width of the scrollbar will depend on the platform
  // on window 10 the width is approximately 8-10px
  // on windows 11 it is much thinner
  // also note that this rule applies to firefox only
  scrollbar-width: thin; // width is ~8-10px on windows 10

  &::-webkit-scrollbar {
    background-color: hsl(0deg 0% 100% / 10%);
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl(0deg 0% 100% / 30%);
  }
}

body {
  color: var(--white);
}

a {
  color: var(--cyan);
  font-size: var(--text-size);

  &:visited {
    color: var(--secondary);
  }

  &:focus-visible {
    @include focus-visible;
  }
}
