@import "./tokens/animation.tokens.scss";
@import "./tokens/color.tokens.scss";
@import "./tokens/easings.tokens.scss";
@import "./common.scss";

:root {
  --line-height: 1.8;
  --text-height: calc(var(--text-size) * var(--line-height));
  --text-size: 1.6rem;
  --scrollbar-color: hsl(0deg 0% 100% / 30%);
  --scrollbar-thumb-color: hsl(0deg 0% 100% / 10%);
}

html {
  font-size: 10px;
}

* {
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-thumb-color);

  // the width of the scrollbar will depend on the platform
  // on window 10 the width is approximately 8-10px
  // on windows 11 it is much thinner
  // also note that this rule applies to firefox only
  scrollbar-width: thin; // width is ~8-10px on windows 10

  &::-webkit-scrollbar {
    background-color: var(--scrollbar-color);
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
  }
}

body {
  color: var(--white);

  &[data-theme="light"] {
    --scrollbar-color: hsl(0deg 0% 0% / 20%);
    --scrollbar-thumb-color: hsl(0deg 0% 0% / 100%);
  }
}

a {
  color: var(--cyan);
  font-size: var(--text-size);

  &:visited {
    color: var(--secondary);
  }

  &:focus-visible {
    @include focus-visible;
  }
}
