/* stylelint-disable */
@function getrgb($color) {
  @return "rgb(" + red($color) + ", " + green($color) + ", " + blue($color) +
    ")";
}

@function gethsl($color) {
  @return "hsl(" + hue($color) + ", " + saturation($color) + ", " +
    lightness($color) + ")";
}

$colors: (
        black: #000000,
        blue: #0071b2,
        cyan: #00b2ad,
        error: #f20c6a,
        green: #2a831c,
        grey: #909090,
        orange: #e67100,
        purple: #8743ff,
        primary: #7717f2,
        red: #e61800,
        secondary: #f09819,
        success: #21dfb4,
        white: #ffffff,
        yellow: #e6c400,
);

:root {
  /**
  * @tokens Colors
  * @presenter Color
  */
  @each $name, $value in $colors {
    --#{$name}: #{gethsl($value)};
    --#{$name}-light: #{gethsl(lighten($value, 10))};
    --#{$name}-dark: #{gethsl(darken($value, 10))};
  }

  --angel-care: linear-gradient(-225deg, #ffe29f 0%, #ffa99f 48%, #ff719a 100%);
  --aqua-splash: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  --dusty-grass: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  --frozen-dreams: linear-gradient(
                  to top,
                  #fdcbf1 0%,
                  #fdcbf1 1%,
                  #e6dee9 100%
  );
  --fruit-blend: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
  --grown-early: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  --happy-acid: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  --happy-memories: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  --hidden-jaguar: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
  --itmeo-branding: linear-gradient(-225deg, #2af598 0%, #009efd 100%);
  --mean-fruit: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  --millenium-pine: linear-gradient(to top, #50cc7f 0%, #f5d100 100%);
  --morpheus-den: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  --juicy-cake: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
  --night-call: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
  --night-fade: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  --new-life: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  --orange-juice: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  --palo-alto: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  --phoenix-start: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  --purple-gradient: linear-gradient(270deg, #8743ff 0%, #4136f1 100%);
  --rainy-ashville: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  --royal-garden: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
  --smart-indigo: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
  --snow-again: linear-gradient(
                  to right,
                  rgb(230 233 240 / 50%),
                  rgb(238 241 245 / 50%)
  );
  --sugar-lollipop: linear-gradient(
                  -225deg,
                  #a445b2 0%,
                  #d41872 52%,
                  #ff0066 100%
  );
  --summer-games: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  --sunny-morning: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  --supreme-sky: linear-gradient(
                  -225deg,
                  #d4ffec 0%,
                  #57f2cc 48%,
                  #4596fb 100%
  );
  --tempting-azure: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  --true-sunset: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  --warm-flame: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  --young-grass: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
  --primary-gradient: var(--night-call);
  --secondary-gradient: var(--happy-memories);
  --success-gradient: var(--itmeo-branding);
  --error-gradient: var(--sugar-lollipop);
}
