@import "open-props/animations.min.css";
@import "open-props/easings.min.css";
@import "../../styles/common";

.Modal {
  border-radius: 0.8rem;
  color: var(--white);
  max-width: 80rem;
  padding: 2rem;

  &[open] {
    animation: modal-animation alternate;
    animation-duration: 0.3s;
    animation-timing-function: var(--ease-elastic-4);
  }

  &::backdrop {
    background-color: rgb(0 0 0 / 30%);
  }

  @include dark;

  @include theme("light") {
    @include light;

    color: var(--black);
  }

  .close {
    float: right;
    margin-right: -1rem;
    margin-top: -1rem;
  }
}

@keyframes modal-animation {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
