@import "../../styles/common.scss";

.Checkbox {
  --border-radius: 0.5rem;
  --transition-time: 150ms;
  --border-width: 0.5rem;
  --pseudo-background: var(--primary-gradient);
  --text-color: inherit;

  align-items: center;
  cursor: pointer;
  display: flex;
  width: fit-content;

  &:has(input[aria-invalid="true"]) {
    --pseudo-background: var(--error-gradient);
    --text-color: var(--error);
  }

  .container {
    align-items: center;
    border-radius: 0.4rem;
    display: flex;
  }

  .input {
    height: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 0;
    z-index: -1;
  }

  &:has(input:checked) {
    .checkmark {
      &::before {
        opacity: 0;
        transition-delay: var(--transition-time);
      }

      &::after {
        border-radius: var(--border-radius);
        opacity: 1;
        transform: scale(1);
      }

      .tick {
        opacity: 1;
      }
    }
  }

  &:has(input:focus-visible) {
    .container {
      @include focus-visible;
    }
  }

  &.readOnly {
    pointer-events: none;
  }

  &.readOnly,
  &:has(:is(input:disabled)) {
    .container {
      @include disabled;

      .text {
        color: var(--grey);
      }
    }
  }

  .text {
    color: var(--text-color);
    margin-left: 1rem;
  }

  .checkmark {
    align-items: baseline;
    aspect-ratio: 1/1;
    background: transparent;
    border-radius: var(--border-radius);
    display: flex;
    height: var(--text-height);
    justify-content: center;
    padding: 0.5rem;
    position: relative;
    transition: all var(--transition-time) ease-in-out;
    width: var(--text-height);

    &::before,
    &::after {
      background-image: var(--pseudo-background);
      content: "";
      inset: 0;
      padding: 0.3rem;
      position: absolute;
    }

    &::before {
      border-radius: var(--border-radius);
      mask: linear-gradient(#ffffff 0 0) content-box,
        linear-gradient(#ffffff 0 0);
      mask-composite: exclude;
      transition: all 1ms ease-in-out;
      transition-delay: 0s;
      z-index: -1;
    }

    &::after {
      border-radius: 50%;
      opacity: 0;
      transform: scale(0);
      transition: all var(--transition-time) ease-in-out;
      z-index: -1;
    }

    .tick {
      height: 100%;
      opacity: 0;
      transition: opacity var(--transition-time) ease-in-out;
      width: 100%;

      path {
        fill: var(--white);
      }
    }
  }
}
